---
layout: default
title: Home
sitemap: true
---

<div class="background_top">
  <h1>Quixz<span>eSports</span></h1>
</div>

<div class="arrow">
  <a class="fas fa-chevron-down arrow_button" href="#about"></a>
</div>

</div>

<div class="about_mobile">
  <img src="assets/image/backgrounds/about_mobile.png" alt="Quixz eSports logo">
</div>

<div class="about" id="about">
  <img src="assets/image/backgrounds/about.png" alt="Quixz eSports logo">
  <div class="about_background">
    <div class="about_text">

      <h1>About us</h1>
      <p>Quixz eSports is an organization located in Norway. We started as a group of friends in 2014, and have grown bigger with time. Our goal is to make the esports scene better for everyone, and that players can have someone to have their back.
      <span>Currently we are looking for teams and players in various games, and hope to grow big. We live in a time when the community is growing everyday, and we hope to help the growth.</span></p>

    </div>
  </div>
</div>

<div class="team">
  <h1>Our Team</h1>
    <div class="team_inner">
      <div class="">
        <a href="#"></a>
      </div>
    </div>
</div>

<div class="matches">

{% include 2018-07-24-match-1.md %}

  <h1>Upcoming<span>Matches</span></h1>
  <div class="matches_cards">
    <div class="card_body">
      <div class="card_left">
        <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
      </div>
      <div class="card_middle">
        <h2>{% include 2018-07-24-match-1.md page.matchdate %}</h2>
        <a href="{{ page.matchlink }}" target="_blank">{{ page.game }}</a>
        <h3>VS</h3>
      </div>
      <div class="card_right">
        <h4>{{ page.teamname }}</h4>
      </div>
    </div>
  </div>

  <div class="matches_cards">
    <div class="card_body">
      <div class="card_left">
        <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
      </div>
      <div class="card_middle">
        <h2>23.07.18</h2>
        <a href="#" target="_blank">Counter Strike</a>
        <h3>VS</h3>
      </div>
      <div class="card_right">
        <h4>teamname</h4>
      </div>
    </div>
  </div>

  <div class="matches_cards">
    <div class="card_body">
      <div class="card_left">
        <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
      </div>
      <div class="card_middle">
        <h2>23.07.18</h2>
        <a href="#" target="_blank">Leauge of Legends</a>
        <h3>VS</h3>
      </div>
      <div class="card_right">
        <h4>teamname</h4>
      </div>
    </div>
  </div>
</div>

<div class="social">
  <h1>Social</h1>
  <div class="twitter">
    <a class="twitter-timeline" data-height="80vh" data-width="40vw" data-theme="dark" data-link-color="#F8B52A" href="https://twitter.com/QuixzeSports?ref_src=twsrc%5Etfw">Tweets by QuixzeSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<div class="twitter_mobile">
  <a class="twitter-timeline" data-height="80vh" data-width="100vw" data-theme="dark" data-link-color="#F8B52A" href="https://twitter.com/QuixzeSports?ref_src=twsrc%5Etfw">Tweets by QuixzeSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
  <div class="icons">
    <a class="fab fa-youtube" href="https://www.youtube.com/channel/UChgzQGcnVEn_nqdSfnggkcw" target="_blank"></a>
    <a class="fab fa-facebook-square" href="https://www.facebook.com/quixzesports" target="_blank"></a>
    <a class="fab fa-steam-square" href="https://steamcommunity.com/groups/QuixzFan" target="_blank"></a>
  </div>
</div>
