---
layout: default
title: Team
description: Take a look at what components make up Quixz eSports.
---

<div class="team">
  <h4>Counter Strike: Global Offensive</h4>
{% for player in site.players limit: 5 %}

{% if player.playergame == "Counter Strike" %}
    <div class="column">
      <div class="card">
        <img src="{{ player.playerimage }}" alt="" style="width:100%">
        <div class="container">
          <h2>{{ player.firstname }} <b style="color: #F8B52A">{{ player.playername}}</b> {{ player.lastname }}</h2>
        </div>
      </div>
    </div>
{% endif %}

{% endfor %}
</div>

<div class="team">
  <h4>Rocket League</h4>
{% for player in site.players limit: 5 %}

{% if player.playergame == "Rocket League" %}
    <div class="column">
      <div class="card">
        <img src="{{ player.playerimage }}" alt="" style="width:100%">
        <div class="container">
          <h2>{{ player.firstname }} <b style="color: #F8B52A">{{ player.playername}}</b> {{ player.lastname }}</h2>
        </div>
      </div>
    </div>
{% endif %}

{% endfor %}
</div>

<div class="team">
  <h4>Rocket League</h4>
{% for player in site.players limit: 1 %}

{% if player.playergame == "Heathstone" %}
    <div class="column">
      <div class="card">
        <img src="{{ player.playerimage }}" alt="" style="width:100%">
        <div class="container">
          <h2>{{ player.firstname }} <b style="color: #F8B52A">{{ player.playername}}</b> {{ player.lastname }}</h2>
        </div>
      </div>
    </div>
{% endif %}

{% endfor %}
</div>
