<div class="footer">
  <ul>
    <li>Copyright © {{ 'now' | date: "%Y" }} Quixz eSports All Rights Reserved.</li>
    <li style="color:#F8B52A;">contact@quixz.eu</li>
  </ul>
  <img class="footer_logo" src="{{ baseurl }}/assets/image/logo/logo_500.png" alt="Quixz eSports logo">

<hr>

<h1>Partners</h1>

{% for partner in site.partners %}

  {% if partner.status == 'true' %}

    <div class="partner">
      <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.image }}" alt=""></a>
    </div>

  {% endif %}

{% endfor %}

<hr>
<h1>Follow us</h1>
    <div class="icons">
      <a class="fab fa-youtube" href="https://www.youtube.com/channel/UChgzQGcnVEn_nqdSfnggkcw" target="_blank"></a>
      <a class="fab fa-facebook-square" href="https://www.facebook.com/quixzesports" target="_blank"></a>
      <a class="fab fa-steam-square" href="https://steamcommunity.com/groups/QuixzFan" target="_blank"></a>
    </div>

  <div class="twitter">
    <a class="twitter-timeline" data-height="10rem" data-width="100%" data-theme="dark" data-link-color="#F8B52A" href="https://twitter.com/QuixzeSports?ref_src=twsrc%5Etfw">Tweets by QuixzeSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>
<!-- Hamburger Menu -->

  <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('.navlist').toggleClass('active')
          $('i').toggleClass('notactive');
        })
      })
  </script>

<!-- Smooth Scroll -->

  <script>
   $(document).ready(function(){
    $("a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1200, function(){
          window.location.hash = hash;
        });
      }
    });
  });
  </script>
