<div class="footer">
  <ul>
    <li>Copyright © {{ 'now' | date: "%Y" }} Quixz eSports All Rights Reserved.</li>
    <li style="color:#F8B52A;">contact@quixz.eu</li>
  </ul>
  <img class="footer_logo" src="{{ baseurl }}/assets/image/logo/logo_500.png" alt="Quixz eSports logo">

<hr>

<h1>Partners</h1>

{% for partner in site.partners %}

  {% if partner.status == 'true' %}

    <div class="partner">
      <a href="{{ partner.website }}" target="_blank"><img src="{{ partner.image }}" alt=""></a>
    </div>

  {% endif %}

{% endfor %}
</div>

<!-- Hamburger Menu -->

  <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('.navlist').toggleClass('active')
          $('i').toggleClass('notactive');
        })
      })
  </script>

<!-- Smooth Scroll -->

  <script>
   $(document).ready(function(){
    $("a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1200, function(){
          window.location.hash = hash;
        });
      }
    });
  });
  </script>
