@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway, Lato";
  color: #FFF;
  overflow-x: hidden;
}

.background_top {
  height: 100vh;
  background-image: url(../image/backgrounds/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.background_top h1 {
  text-align: center;
  padding-top: 30vh;
  font-size: 7em;
  text-shadow: 0 0 30px #000;
  margin: 0;
}

.background_top span {
  display: block;
  color: #F8B52A;
  line-height: .5em
}

.navbar {
  position: absolute;
  height: 6em;
  font-family: "Lato";
  text-decoration: none;
  background-color: #F8B52A;
  width: 100%;
  color: #FFF;
}

.navbar img {
  height: 80%;
  padding-left: 3em;
  display: block;
  position: absolute;
  top: 10%
}

.navbar nav {
  text-align: right;
  height: 80%;
  position: absolute;
  right: 1.5em;
  top: 25%
}

.navbar ul {

}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: #FFF;
  text-decoration: none;
  padding-right: 1.5em;
  padding-left: 1.5em
}

.about {
  height: 70vh;
  background-color: #2B63AF
}

.about img {
  height: 70vh;
  position: absolute;
  right: 0;
}

.about_text {
  width: 50%;
  padding-left: 10rem;
  padding-top: 3rem
}

.about_text h1::after {
  content: "";
  width: 20%;
  background-color: #FFF;
  height: .1rem;
  display: block;
  margin-top: 3rem
}

.about_text h1 {
  font-size: 5em;
  margin: 0;
  padding-bottom: 2rem
}

.about_text p {
  font-family: "Lato";
  font-size: 1.5em;
  margin-right: 20rem
}

.about_text span {
  display: block;
  padding-top: 2em
}

.team {
  height: 90vh;
  background-color: #232323;
  margin: 0;
  padding: 8rem;
}

.team h1 {
  font-size: 6em;
  color: #F8B52A;
  margin-top: -4.5rem;
  text-align: center;
}

.team h1::before {
  content: "";
  width: 10%;
  display: block;
  margin: 0 auto;
  background-color: #F8B52A;
  height: .5rem;
  margin-bottom: 2rem
}

.team_inner {
  width: 100%;
  background-color: #F8B52A;
  height: 90%;
}

.matches {
  width: 100%;
  margin: 0;
  padding: 0;
}

.matches img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: -1
}

.matches h1 {
  margin: 0;
  text-align: center;
  font-size: 7em;
  padding-top: 1rem;
  text-shadow: 0 0 30px #000;
}

.matches span {
  display: block;
  line-height: 1.5rem;
  font-size: 4.5rem;
  color: #F8B52A
}

.matches_cards {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.card_body{
  background: linear-gradient(to top right, #fff, #dddddd00);
  width: 20vw;
  height: 60vh;
  margin: 5%;
  display: inline-block;
}

.card_body h2 {
  font-size: 3em;
  margin: 1rem 0;
  text-shadow: 0 0 30px #000;
}

.card_body h3 {
  color: #F8B52A;
  margin: 0;
  text-shadow: 0 0 30px #000;
  font-size: 7em;
}

.card_body span {
  display: block;
  margin-top: 3rem;
  font-size: 3rem;
  color: #FFF
}

.footer {
  height: 10vh;
  background: #232323;
  color: #FFF;
  padding: 2rem
}

.footer img {
  height: 110%;
  position: relative;
  float: right;
  margin: 0;
}

.footer ul {
  display: inline-block;
}

.footer li {
  display: block;
}
