<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Quixz eSports - {{ page.title }}</title>
  <link REL="SHORTCUT ICON" HREF="../assets/image/logo/logo_500.png">
  <meta name="google-site-verification" content="x7yK7kt6bcjL-iz3Vw9X0BDJlCR8mjrBVt_rDVekI04" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ page.description }}" />
  <meta name="keywords" content="Quixz eSports, quixz" />
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../assets/css/master.css">
  <link href="../assets/css/fontawesome/css/all.css" rel="stylesheet">
  <!-- Cookies Consent -->
  <link rel="stylesheet" type="text/css" href="../assets/css/cookies.css"/>
  <!-- Jquery -->
  <script src="../assets/js/jquery.js"></script>
  <!-- Google Strucutred Data -->
  <script type="application/ld+json">
   { "@context": "http://schema.org",
   "@type": "Organization",
   "name": "Quixz eSports",
   "legalName" : "Quixz eSports",
   "url": "https://quixz.eu",
   "logo": "https://quixz.eu/assets/image/logo/logo_2000.png",
   "foundingDate": "2015",
   "founders": [
   {
   "@type": "Person",
   "name": "Tobias Barsnes"
   }],
   "contactPoint": {
   "@type": "ContactPoint",
   "contactType": "customer support",
   "email": "contact@quixz.eu",
   "telephone": "+47 913 65 195"
   },
   "sameAs": [
   "https://twitter.com/QuixzeSports",
   "https://www.facebook.com/quixzesports",
   "https://www.gamer.no/klubber/quixz-esports/43274/lag/43275",
   "https://www.youtube.com/channel/UChgzQGcnVEn_nqdSfnggkcw"
   ]}
</script>

  <!-- Social Media -->

  <meta property="og:site_name" content="Quixz eSports"/>
  <meta property="og:url" content="https://quixz.eu/">
  <meta property="og:type" content="article"/>
  <meta property="og:title" content="{{ page.title }}"/>
  <meta property="og:description" content="{{ page.description }}"/>
  <meta property="og:image" content="https://quixz.eu/{{ page.image }}">

  <meta name="twitter:title" content="Quixz eSports">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="https://quixz.eu/{{ page.image }}">
  <meta name="twitter:card" content="summary_large_image">

</head>
<body>
<div class="header">
  <div class="navbar">
    <a href="../index.html"><img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo"></a>
    <nav>
      <div class="toggle">
        <i class="fas fa-bars menu" aria-hidden="true"></i>
      </div>
      <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../about.html">About</a></li>
        <li><a href="../articles.html">Articles</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </nav>
  </div>
</div>

{{ content }}

<div class="footer">
  <ul>
    <li>Copyright (c) 2018 Quixz eSports All Rights Reserved.</li>
    <li style="color:#F8B52A;">contact@quixz.eu</li>
  </ul>
  <img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo">
</div>
</body>

<!-- Hamburger Menu -->

  <script type="text/javascript">
      $(document).ready(function(){
        $('.menu').click(function(){
          $('ul').toggleClass('active');
        })
      })
  </script>

<!-- Smooth Scroll -->

  <script>
   $(document).ready(function(){
    $("a").on('click', function(event) {
      if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 1200, function(){
          window.location.hash = hash;
        });
      }
    });
  });
  </script>


</html>
