{% include header.html %}

<div class="background_top">
  <h1>Quixz<span>eSports</span></h1>
</div>

<div class="arrow">
  <a class="fal fa-caret-down arrow_button" href="#about"></a>
</div>

</div>

<div class="about_mobile">
  <img src="assets/image/backgrounds/about_mobile.png" alt="Quixz eSports logo">
</div>

<div class="about" id="about">
  <img src="assets/image/backgrounds/about.png" alt="Quixz eSports logo">
  <div class="about_background">
    <div class="about_text">

      <h1>About Us</h1>
      <p>Quixz eSports is an organization located in Norway. We started as a group of friends in 2014, and have grown bigger with time. Our goal is to make the esports scene better for everyone, and that players can have someone to have their back. Currently we are looking for teams and players in various games, and hope to grow big. We live in a time when the community is growing everyday, and we hope to help the growth.</p>

    </div>
  </div>
</div>

<!-- Our Team

<div class="team">
  <h1>Our Team</h1>
    <div class="team_inner">
      <div class="">
        <a href="#"></a>
      </div>
    </div>
</div>

-->
<div class="news__section" id="news">
  <h1>Recent News</h1>
  <div class="news">
  {% for post in site.posts limit:2 %}
    <div class="article_list">

      <a href="{{ post.url | remove: '.html' }}"><img src="..{{ post.image }}" alt="{{ post.description }}" og:image></a>
      <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
      <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
      <p class="news__desc">{{ post.description }}</p>
      <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
      <hr>

    </div>
  {% endfor %}
  </div>
</div>


<div class="matches" id="matches">
  <h1>Upcoming<span>Matches</span></h1>
  {% assign eventPost = site.matches | sort: 'date' %}
  {% assign eventsNumber = 3 %}
  {% assign printedEvents = 0 %}
  {% assign sorted = site.matches | sort: 'matchdate' %}

{% for item in sorted %}
    {% assign curDate = site.time | date: '%Y-%m-%d' %}
    {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
    {% if postStartDate >= curDate and printedEvents < eventsNumber %}
        {% assign printedEvents = printedEvents | plus: 1 %}
        <div class="matches_cards">
          <div class="card_body">
            <div class="card_left">
              <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            </div>
            <div class="card_middle">
              <h2>{{ item.matchdate | date: '%B %d, %Y' }}</h2>
              <a href="{{ item.matchlink }}" target="_blank">{{ item.game }}</a>
              <h3>VS</h3>
            </div>
            <div class="card_right">
              <img src="{{ item.image }}" alt="Logo of opposing team"></img>
            </div>
          </div>
        </div>
        {% elsif postStartDate <= curDate %}
        <div class="matches_cards">
          <div class="card_body">
            <div class="card_left">

            </div>
            <div class="card_middle">
              <h2>No matches</h2>
              <a href="" target="_blank"></a>
              <h3></h3>
            </div>
            <div class="card_right">

            </div>
          </div>
        </div>
    {% endif %}
{% endfor %}
</div>

<div class="social">
  <h1>Social</h1>
  <div class="twitter">
    <a class="twitter-timeline" data-height="80vh" data-width="40vw" data-theme="dark" data-link-color="#F8B52A" href="https://twitter.com/QuixzeSports?ref_src=twsrc%5Etfw">Tweets by QuixzeSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<div class="twitter_mobile">
  <a class="twitter-timeline" data-height="80vh" data-width="100vw" data-theme="dark" data-link-color="#F8B52A" href="https://twitter.com/QuixzeSports?ref_src=twsrc%5Etfw">Tweets by QuixzeSports</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
  <div class="icons">
    <a class="fab fa-youtube" href="https://www.youtube.com/channel/UChgzQGcnVEn_nqdSfnggkcw" target="_blank"></a>
    <a class="fab fa-facebook-square" href="https://www.facebook.com/quixzesports" target="_blank"></a>
    <a class="fab fa-steam-square" href="https://steamcommunity.com/groups/QuixzFan" target="_blank"></a>
  </div>
</div>


{% include footer.html %}

<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</html>
