{% include header.html %}

<div class="background_top">
  <h1>Quixz<span>eSports</span></h1>
</div>

<div class="arrow">
  <a class="fas fa-angle-down arrow_button" href="#about"></a>
</div>

</div>

<div class="about" id="about">
    <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
    <div class="about_text">
      <h1>About Us</h1>
      <p>{{ page.content }}</p>
    </div>
</div>

<!-- Our Team

<div class="team">
  <h1>Our Team</h1>
    <div class="team_inner">
      <div class="">
        <a href="#"></a>
      </div>
    </div>
</div>

-->
<div class="news__section" id="news">
  <h1>Recent News</h1>
  <div class="news">
  {% for post in site.categories.news limit:2 %}
    <div class="article_list">

      <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
      <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
      <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
      <p class="news__desc">{{ post.content | truncate: 100 }}</p>
      <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
      <hr>

    </div>
  {% endfor %}
  </div>
</div>

<div class="matches" id="matches">
  <h1>Upcoming Matches</h1>
  {% assign eventPost = site.matches | sort: 'date' %}
  {% assign eventsNumber = 3 %}
  {% assign printedEvents = 0 %}
  {% assign sorted = site.matches | sort: 'matchdate' %}

{% for item in sorted %}
    {% assign curDate = site.time | date: '%Y-%m-%d' %}
    {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
    {% if postStartDate >= curDate and printedEvents < eventsNumber %}
        {% assign printedEvents = printedEvents | plus: 1 %}
          <div class="card_body">
            <div class="card_left">
              <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            </div>
            <div class="card_middle">
              <h2>{{ item.matchdate | date: '%B %d, %Y' }}</h2>
              <a href="{{ item.matchlink }}" target="_blank">{{ item.game }}</a>
              <h3>VS</h3>
            </div>
            <div class="card_right">
              <img src="{{ item.image }}" alt="Logo of opposing team"></img>
            </div>
          </div>

    {% endif %}
{% endfor %}
</div>


{% include footer.html %}

<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</html>
