{% include header.html %}

<div class="background_top">
  <h1>Quixz<span>eSports</span></h1>
</div>

<div class="arrow">
  <a class="fas fa-angle-down arrow_button" href="#about"></a>
</div>

</div>

<div class="about" id="about">
    <img src="assets/image/logo/logo_500.png" alt="Quixz eSports logo">
    <div class="about_text">
      <h1>About Us</h1>
      <p>{{ page.about }}</p>
    </div>
</div>

<!-- Our Team

<div class="team">
  <h1>Our Team</h1>
    <div class="team_inner">
      <div class="">
        <a href="#"></a>
      </div>
    </div>
</div>

-->
<div class="news__section" id="news">
  <h1>Recent News</h1>
  <div class="news">
  {% for post in site.categories.news limit:2 %}
    <div class="article_list">

      <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
      <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
      <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
      <p class="news__desc">{{ post.content | truncate: 100 }}</p>
      <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
      <hr>

    </div>
  {% endfor %}
  </div>
</div>

<div class="teamMatches">

  <div class="upcomingMatches">
    <h1>Upcoming Matches</h1>

  {% assign eventPost = site.matches | sort: 'date' %}
  {% assign eventsNumber = 3 %}
  {% assign printedEvents = 0 %}
  {% assign sorted = site.matches | sort: 'matchdate' %}

  {% for item in sorted %}
    {% assign curDate = site.time | date: '%Y-%m-%d' %}
    {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
    {% if postStartDate >= curDate and printedEvents < eventsNumber %}
        {% assign printedEvents = printedEvents | plus: 1 %}

      <div class="match_body">
          <h1>{{ item.matchdate | date: '%B %d, %Y' }}</h1>
          <img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            <h2></h2>
            <div style="margin: auto">
              <h3>VS</h3>
              <a target="_blank" href="{{ item.matchlink }}" style="color: #F8B52A; text-decoration: none"><h3>{{ item.matchType }}</h3></a>
              <h6>{{ item.game }}</h6>
            </div>
            <h2></h2>
          <img src="{{ item.image }}" alt="Logo of opposing team"></img>
      </div>

  {% endif %}
{% endfor %}
  </div>

  <div class="recentMatches">
    <h1>Recent Matches</h1>

    {% assign eventPost = site.matches | sort: 'date' %}
    {% assign eventsNumber = 3 %}
    {% assign printedEvents = 0 %}
    {% assign sorted = site.matches | sort: 'matchdate' %}

    {% for item in sorted %}
      {% assign curDate = site.time | date: '%Y-%m-%d' %}
      {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
      {% if postStartDate <= curDate and printedEvents < eventsNumber %}
          {% assign printedEvents = printedEvents | plus: 1 %}
      <div class="match_body">
          <h1>{{ item.matchdate | date: '%B %d, %Y' }}</h1>
          <img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            <h2>{{ item.score.quixzScore }}</h2>
            <div style="margin: auto">
              <h3>VS</h3>
              <a target="_blank" href="{{ item.matchlink }}" style="color: #F8B52A; text-decoration: none"><h3>{{ item.matchType }}</h3></a>
              <h6>{{ item.game }}</h6>
            </div>
            <h2>{{ item.score.opponentScore }}</h2>
          <img src="{{ item.image }}" alt="Logo of opposing team"></img>
      </div>
    {% endif %}
  {% endfor %}
  </div>

</div>

  <div class="teams">

    <h1>Our Teams</h1>

  {% for team in site.teams %}

  <a class="team" href="../{{ team.permalink }}" style="background-image: url({{ team.pageDesign.bgImage }}); background-size: cover; background-position: center">

      <h1>{{ team.game }}</h1>

  </a>
  {% endfor %}

  </div>

{% include footer.html %}

<style>

.teamMatches {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;
  width: 70%;
  padding: 2rem 15% 3rem 15%;
  background-image: url(/assets/image/backgrounds/matches.png);
}

.recentMatches, .upcomingMatches {
  width: 100%;
  grid-column: span 1
}

.match_body {
  width: 100%;
  background-color: #2B63AF;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 8rem;
  grid-template-rows: 2rem 5rem;
  text-align: center;
  font-family: Lato;
  margin-bottom: .5rem
}

.match_body h1 {
  grid-column: 1 / 6;
  font-size: 1rem
}

.match_body img {
  width: 80%;
  height: auto;
  margin: auto;
}

.match_body h2, .match_body h3, .match_body h6 {
  margin: auto;
}

.teams {
  background-color: #F8B52A;
  display: grid;
  padding: 0 15% 2rem 15%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5rem 5rem 5rem;
  grid-gap: .5rem;
  text-align: center;
}

.teams h1 {
  grid-column: 1 / 4;
  font-size: 2rem
}

.team {
  width: 100%;
  background-color: #2B63AF;
  color: #FFF;
  text-decoration: none;
  grid-column: span 1;
  width: 100%;
  display: grid;
  align-content: center;
}

.team h4 {
  margin: auto;
  font-size: 70%
}

@media screen and (max-width: 650px) {
  .teams {
    min-height: 100vh;
    display: grid;
    padding: 2rem 15%;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem auto;
    text-align: center;
  }

  .teams h1 {
    grid-column: 1 / 2
  }

  .teamMatches {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: .5rem;
    width: 90%;
    padding: 0 5%;
  }
}

</style>

<!-- Netlify CMS redirect to /admin -->

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

</body>

</html>
