{% include header.html %}
<div class="player">
  <div class="player__profile">
    <div class="player_image">
      <img src="{{ page.playerimage }}" alt="">
    </div>

  <div class="player_info">
    <div class="player_name">
      <h1>{{ page.firstname }} <b style="color:#F8B52A">{{ page.playername }}</b> {{ page.lastname }}</h1>
    </div>

    <div class="player_game">
      <p>{{ page.playergame }}</p>
    </div>

    <div class="social-media">
      <a href="{{ page.twitch }}" target="_blank"><i class="fab fa-twitch"></i></a>
      <a href="{{ page.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="{{ page.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
      <a href="{{ page.steam }}" target="_blank"><i class="fab fa-steam"></i></a>
    </div>
  </div>
  </div>

  <div class="player__text">
    <h1 class="title">About {{ page.playername }}</h1>

    {{ page.text }}
  </div>

  <div class="player__gallery">
    <h1 class="title">Pictures of {{ page.playername }}</h1>

    {{ page.gallery }}

  </div>
</div>
{% include footer.html %}

<style>

.player {
  background-color: #2B63AF;
  min-height: 100vh;
  padding-top: 8rem;
  text-align: center;
  width: 100vw
}

.player__profile {
  width: calc(100vw - 12rem);
  height: auto;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto;
  padding: 2rem 0;
  margin: 0 auto;
  text-align: left;
  margin: 1rem 7rem;
  background-color: #FFFFFF20;
  box-shadow: 0 0 50px #00000020;
}

.player_info {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%
}

.player_image img {
  width: 100%;
  height: auto;
}

.player_name {
  width: 100%
}

.social-media {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 50%
}

.social-media a {
  color: #FFF;
  text-decoration: none;
  font-size: 2rem;
  grid-column: span 1;
}

.player__text {
  width: 80%;
  margin: 0 auto;
  text-align: left
}

.player__text .title {
  text-align: center;
}

.player__gallery {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 5rem auto;
  padding-bottom: 2rem;
  text-align: left
}

.player__gallery p {
  display: none;
}

.player__gallery h1 {
  display: none;
}

.player__gallery .title {
  display: block;
  grid-column: span 2;
  text-align: center;
}

.player__gallery img {
  width: 100%;
  grid-column: span 1
}


@media screen and (max-width: 650px) {

  .player__profile {
    width: calc(100vw - 2rem);
    height: auto;
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem 0;
    margin: 0 auto;
    text-align: left;
    margin: 1rem 1rem;
  }

  .social-media {
    width: 100%;
    text-align: center;
  }

  .player_info {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    padding: 1rem;
    width: calc(100% - 2rem)
  }

  .player__gallery {
    grid-template-rows: 10rem auto;
  }
}
</style>
