{% include header.html %}

<div class="teamHeader">
<h1>{{ page.game }}</h1>
</div>

<style>
  .teamHeader {
    width: 100%;
    height: 15rem;
    text-align: center;
    background-image: url({{ team.pageDesign.bgImage }});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: grid;
  }

  .teamHeader h1 {
    margin: auto;
  }
</style>

<div class="team">

  {% for player in site.players %}

  {% if player.playergame == page.game and player.status == 'true' %}
        <div class="card">
          <img src="{{ player.playerimage }}" alt="" style="width:100%">
          <div class="container">
            <a href="https://quixz.eu/player/{{ player.name.playername }}" style="text-decoration: none; color: #FFF"><h2>{{ player.name.firstname }} <b style="color: #F8B52A">{{ player.name.playername}}</b> {{ player.name.lastname }}</h2></a>
          </div>
        </div>
  {% endif %}

  {% endfor %}

</div>

<div class="teamMatches">

  <div class="recentMatches">
    <h1>Recent Matches</h1>

    {% assign eventPost = site.matches | sort: 'date' %}
    {% assign eventsNumber = 3 %}
    {% assign printedEvents = 0 %}
    {% assign sorted = site.matches | sort: 'matchdate' %}

    {% for item in sorted %}
      {% assign curDate = site.time | date: '%Y-%m-%d' %}
      {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
      {% if postStartDate <= curDate and printedEvents < eventsNumber and item.game == page.game %}
          {% assign printedEvents = printedEvents | plus: 1 %}
      <div class="match_body">
          <img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            <h2>{{ item.score.quixzScore }}</h2>
            <div style="margin: auto">
              <h3>VS</h3>
              <a href="{{ item.matchlink }}" style="color: #F8B52A; text-decoration: none"><h3>Match</h3></a>
            </div>
            <h2>{{ item.score.opponentScore }}</h2>
          <img src="{{ item.image }}" alt="Logo of opposing team"></img>
      </div>
    {% endif %}
  {% endfor %}
  </div>

  <div class="upcomingMatches">
    <h1>Upcoming Matches</h1>

  {% assign eventPost = site.matches | sort: 'date' %}
  {% assign eventsNumber = 3 %}
  {% assign printedEvents = 0 %}
  {% assign sorted = site.matches | sort: 'matchdate' %}

  {% for item in sorted %}
    {% assign curDate = site.time | date: '%Y-%m-%d' %}
    {% assign postStartDate = item.matchdate | date: '%Y-%m-%d' %}
    {% if postStartDate >= curDate and printedEvents < eventsNumber and item.game == page.game %}
        {% assign printedEvents = printedEvents | plus: 1 %}

      <div class="match_body">
          <img src="../assets/image/logo/logo_500.png" alt="Quixz eSports logo">
            <h2>{{ item.score.quixzScore }}</h2>
            <div style="margin: auto">
              <h3>VS</h3>
              <a href="{{ item.matchlink }}" style="color: #F8B52A; text-decoration: none"><h3>Match</h3></a>
            </div>
            <h2>{{ item.score.opponentScore }}</h2>
          <img src="{{ item.image }}" alt="Logo of opposing team"></img>
      </div>

  {% endif %}
{% endfor %}
  </div>

</div>

<div class="winRatio">

  <h1>Win/Loss Ratio</h1>

  <div class="ratioText">

    <h2>Wins <b>{{ page.ratio.win }} / {{ page.ratio.loss }}</b> Losses</h2>
    <h2>Win ratio:</h2> <h2 id="ratio"></h2>

  </div>

</div>

<script type="text/javascript">

  var ratio = ({{ page.ratio.win }} / ({{ page.ratio.loss }} + {{ page.ratio.win }})) * 100;

  document.getElementById("ratio").innerHTML = Math.round(ratio) + "%";

</script>

<div class="teamAbout">
  <h1>History</h1>
  {% for info in site.teams %}
    {% if info.game == page.game %}
  <div class="">
        {{ info.content }}
  </div>
</div>
    {% endif %}
  {% endfor %}

  {% for info in site.teams %}
    {% if info.game == page.game %}
<div class="teamGallery">
  <h1>Gallery</h1>
  <div class="teamImages">
    <img src="{{ info.galleryImages.image }}">
  </div>
</div>

    {% endif %}
  {% endfor %}


{% if page.game == "Counter Strike" %}
  <div class="teamArticles">
    <h1>Related Articles</h1>
    <div class="news">
    {% for post in site.categories.csgo limit:4 %}
      <div class="article_list">

        <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
        <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
        <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
        <p class="news__desc">{{ post.content | truncate: 100 }}</p>
        <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
        <hr>

      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.game == "Hearthstone" %}
  <div class="teamArticles">
    <h1>Related Articles</h1>
    <div class="news">
    {% for post in site.categories.hs limit:4 %}
      <div class="article_list">

        <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
        <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
        <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
        <p class="news__desc">{{ post.content | truncate: 100 }}</p>
        <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
        <hr>

      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.game == "Overwatch" %}
  <div class="teamArticles">
    <h1>Related Articles</h1>
    <div class="news">
    {% for post in site.categories.ow limit:4 %}
      <div class="article_list">

        <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
        <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
        <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
        <p class="news__desc">{{ post.content | truncate: 100 }}</p>
        <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
        <hr>

      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% if page.game == "Rocket League" %}
  <div class="teamArticles">
    <h1>Related Articles</h1>
    <div class="news">
    {% for post in site.categories.rl limit:4 %}
      <div class="article_list">

        <a href="{{ post.url | remove: '.html' }}"><img src="{{ post.image }}" alt="{{ post.description }}" og:image></a>
        <h1><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></h1>
        <h5>{{ post.date | date: '%B %d, %Y' }}</h5>
        <p class="news__desc">{{ post.content | truncate: 100 }}</p>
        <a href="{{ post.url | remove: '.html' }}" class="article_readmore" style="color: #2B63AF"><p>Read more...</p></a>
        <hr>

      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}

{% include footer.html %}


<style>

body {
  background-color: #232323;
  box-sizing: border-box;
}

.team {
  width: 50%;
  padding: 0 25%;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem
}

.card {
  grid-column: span 1;
  width: 100%;
  padding: .2rem
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card a {
  font-size: .8rem
}

.teamMatches {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 1rem));
  grid-gap: 2rem;
  width: 70%;
  padding: 0 15% 0 15%;
  background-color: #F8B52A
}

.recentMatches, .upcomingMatches {
  width: 100%;
  grid-column: span 1
}

.match_body {
  width: 100%;
  background-color: #2B63AF;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 5rem;
  grid-template-rows: 5rem;
  text-align: center;
  font-family: Lato;
  margin-bottom: .5rem
}

.match_body img {
  height: 80%;
  margin: auto;
}

.winRatio {
  text-align: center;
  font-family: "Lato";
  background-color: #2B63AF;
  margin: 0;
  padding: 1rem;
}

.ratioText b {
  color: #F8B52A;
}

.match_body h2, .match_body h3 {
  margin: auto;
}

.teamAbout {
  width: 60%;
  font-family: Lato;
  margin: auto;
  min-height: 15rem;
}

.teamAbout h1 {
  text-align: center;
  font-family: Raleway
}

.teamGallery {
  width: 100%;
  min-height: 15rem;
  font-family: Lato;
  margin: auto;
}

.teamImages {
  width: 60%
}

.teamGallery h1 {
  text-align: center;
  font-family: Raleway;
}

.teamArticles {
  background-color: #F8B52A;
  text-align: center;
  padding-top: 1rem;
}

@media screen and (max-width: 650px) {
  .teamMatches {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: .5rem;
    width: 90%;
    padding: 0 5%;
  }

  .team {
    width: 90%;
    padding: 0 5%;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-bottom: 2rem
  }

  .teamAbout, .teamImages {
    width: 90%
  }
}

</style>
